<footer class="grid-footer">
    <span id="laptop">Developed and Designed By <span>YC Graphixs</span> | <i class="bx bx-copyright"></i> 2024 All rights Reserved.</span>
    <span id="phone">
        <div>Developed and Designed By <span>YC Graphixs</span></div> 
        <div><i class="bx bx-copyright"></i> 2024 All rights Reserved.</div>
    </span>
</footer>