<header class="grid-header">
    <div class="header-left">
        <i class="bx bx-search" aria-label="Search Icon"></i>
        <form action="" class="searchbar" data-search-bar>
            <input type="text" name="search" id="search" placeholder="Search Anything..." autocomplete="off" data-search-bar-input>
            <ul class="searchable-list" data-searchable-list>

            </ul>
        </form>
    </div>
    <div class="header-right">
        <i class="bx bx-user-circle" aria-label="User icon"></i>
    </div>
</header>
