<header class="grid-header">
    <div class="header-left">
        <i class="bx bx-search" aria-label="Search icon"></i>
        <input type="text" name="search" id="search" placeholder="Search Anything...">
    </div>
    <div class="header-right">
        <i class="bx bx-user-circle" aria-label="User icon"></i>
    </div>
</header>