<aside class="grid-sidebar" id="sidebar">
    <div class="sidebar-title">UNO GAME SYSTEM ADMIN</div>
    <nav class="sidebar-list">
        <div class="sidebar-list-top">
            <a href="/dashboard" class="sidebar-item"><i class="bx bx-home"></i>Dashboard</a>
            <a href="/store-items" class="sidebar-item"><i class="bx bxs-package"></i>Store Items</a>
            <a href="/memberships" class="sidebar-item"><i class="bx bxs-crown"></i>Memberships</a>
            <a href="/events" class="sidebar-item"><i class="bx bxs-calendar-event"></i>Events</a>
            <a href="/matches" class="sidebar-item"><i class="bx bxs-joystick"></i>Matches</a>
        </div>
        <div class="sidebar-list-bottom">
            <a href="/auth/logout" class="sidebar-item"><i class="bx bx-log-out-circle"></i>Logout</a>
        </div>
    </nav>
</aside>