/*  import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

* {
    margin: 0px;
    padding: 0px; 
    border: none; 
    outline: none; 
    text-decoration: none; 
    box-sizing: border-box; 
    font-family: "Poppins", sans-serif; 
}

:root {
    --side-padding: 6.5%; 
    --navbar-height: 100px; 
    --footer-height: 40px; 
    --grid-header-height: 70px; 

    --login-blue: #096dd9; 
    --login-purple: #2E0054; 
    --link-purple: #531dab; 
    --text-color: white;
}

html {
    font-size: 62.5%;
    scroll-padding-top: var(--navbar-height);
    scroll-behavior: smooth; 
}

section {
    width: 100vw; 
    min-height: calc(100svh - var(--navbar-height)); 
    margin-top: var(--navbar-height); 
    padding: 0 var(--side-padding);
    display: flex;
    justify-content: space-between;
}

body .btn {
    display: inline-block;
    background-color: black;
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 1rem 2.5rem;  
    margin-top: 2rem;
    border-radius: 0.5rem;
    transition: all 0.3s ease;
    cursor: pointer;
}

body .btn:hover {
    background: var(--login-blue); 
}

body { 
    background-color: #f5f5f5; 
}

body.openedModal { 
    background-color: #595959; 
}

#grid-container {
    height: 100vh; 
    display: grid; 
    grid-template-columns: 23rem 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 3fr 40px; 
    grid-template-areas:
        "sidebar header header header"
        "sidebar main main main"
        "sidebar footer footer footer"; 
}





/* Header Section  */
.grid-header { 
    grid-area: header; 
    height: var(--grid-header-height); 
    background-color: white; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px 0px 20px; 
    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.2); 
    font-size: 1.5rem;
    color: black;
}

.grid-header .header-left {
    width: 75%; 
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.grid-header .header-left > i, 
.grid-header .header-right > i {
    padding: 10px; 
    font-size: 1.9rem;
    cursor: pointer; 
}

.grid-header .header-left > input {
    width: 100%; 
    height: 100%;
    border: 0.3rem solid white;
    border-radius: 0.5rem;
    padding: 0 0.5rem;
    font-size: 1.5rem;
}

.grid-header .header-right {
    width: 15%; 
    display: flex;
    align-items: center; 
    justify-content: flex-end;
}



/* Sidebar Section */
.grid-sidebar {
    grid-area: sidebar; 
    height: 100%; 
    background-color: var(--login-blue);
    overflow-y: auto; 
    font-size: 1.8rem; 
    color: var(--text-color); 
}

.grid-sidebar .sidebar-title {
    text-align: center;
    font-size: 2rem; 
    font-weight: 600;
    padding: 0.25rem;
    margin: 0.5rem 0 4rem 0;
}

.grid-sidebar .sidebar-list {
    height: 80%; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.grid-sidebar .sidebar-list i {
    margin: 0.5rem; 
}

.grid-sidebar .sidebar-list .sidebar-list-top, 
.grid-sidebar .sidebar-list .sidebar-list-bottom {
    width: 100%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.grid-sidebar .sidebar-list .sidebar-item {
    padding: 20px; 
    width: 100%; 
    color: var(--text-color); 
    border: 1rem solid var(--login-blue);
    border-radius: 2.5rem;
}

.grid-sidebar .sidebar-list .sidebar-item:hover {
    background-color: white;
    color: var(--login-blue); 
    cursor: pointer;
}



/* Main Section  */
.grid-main {
    grid-area: main; 
    overflow-y: auto;
    padding: 40px 30px 40px 30px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; 
    position: relative;
}

.grid-main .main-header-title {
    font-size: 2rem;  
    font-weight: 600;
    margin-bottom: 2rem; 
    color: black; 
}

.grid-main .main-header-title.openedModal {
    color: var(--text-color); 
}

.grid-main .main-title {
    font-size: 2rem;  
    font-weight: 600;
    margin-bottom: 2rem; 
}

.grid-main .table-btn, 
.grid-main .dropdown {
    height: 30px; 
    padding: 0 1rem 0 1rem;  
    background-color: white; 
    border-radius: 0.5rem;
    cursor: pointer;
}

.grid-main .table-btn.openedModal, 
.grid-main .dropdown.openedModal {
    cursor: default;
}

.grid-main .table-button-list .add-btn i {
    margin-right: 1rem;
    padding: 5px; 
    background-color: green;
    border-radius: 50%;
    color: var(--text-color); 
}

.grid-main .add,
.grid-main .edit,
.grid-main .delete {
    font-size: 1.8rem ;
    cursor: pointer;
}

.grid-main .add.openedModal,
.grid-main .edit.openedModal,
.grid-main .delete.openedModal {
    cursor: default;
}

.grid-main .add {
    color: var(--login-blue); 
    margin-right: 1rem; 
}

.grid-main .edit {
    color: #008A5D; 
    margin-right: 1rem; 
}

.grid-main .delete {
    color: #f5222d; 
}

.grid-main .main-header,
.grid-main .main-body  {
    width: 100%; 
    opacity: 1;
}

.grid-main .main-header.openedModal,
.grid-main .main-body.openedModal {
    opacity: 0.2;
}

.grid-main .main-header .main-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem; 
    margin: 2rem 0; 
}

.grid-main .main-header .main-cards .card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 25px;
    border: 1px solid black; 
    border-radius: 0.5rem;
    box-shadow: 0 10px 10px -3px rgba(0, 0, 0, 0.2);
}

.grid-main .main-header .main-cards .card:first-child {
    background-color: #95F0FF;
    border-left: 0.7rem solid black; 
}

.grid-main .main-header .main-cards .card:nth-child(2) {
    background-color: #FFBB95; 
    border-left: 0.7rem solid black; 
}

.grid-main .main-header .main-cards .card:nth-child(3) {
    background-color: #FFC2EC; 
    border-left: 0.7rem solid black; 
}

.grid-main .main-header .main-cards .card:nth-child(4) {
    background-color: #efdbff; 
    border-left: 0.7rem solid black; 
}

.grid-main .main-header .main-cards .card > span {
    font-size: 2rem; 
    font-weight: 600;
}

.grid-main .main-header .main-cards .card .card-inner {
    font-size: 1.8rem; 
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.grid-main .main-header .main-cards .card .card-inner > span {
    font-size: 3.5rem; 
}

.grid-main .main-body .table-container-primary, 
.grid-main .main-body .table-container-secondary {
    width: 100%;
    border-radius: 1rem;
    background-color:#E2E2E2; 
}

.grid-main .main-body .table-container-primary {
    padding: 1.8rem 2rem 1.6rem 2rem; 
}

.grid-main .main-body .table-container-secondary {
    padding: 3rem 2rem 3rem 2rem;  
}

.grid-main .main-body-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.grid-main .main-body-header .table-button-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem; 
}

.grid-main .main-body .table {
    width: 100%;
    text-align: left;
    overflow-y: scroll;
    border-collapse: collapse;
    font-size: 1.6rem;
}

.grid-main .main-body .table tr {
    border-bottom: 1px solid white;
}

.grid-main .main-body .table td, 
.grid-main .main-body .table th {
    padding: 1rem; 
}

.grid-main .main-body .table .table-btn-td {
    padding: 0.5rem ;
}



/* Footer Section  */
.grid-footer { 
    grid-area: footer; 
    height: 40px; 
    border-top: 1px solid rgba(0, 0, 0, 0.2); 
}



/* Modal Section  */
.modal {
    height: 80%; 
    width: 50rem; 
    max-width: 75%;
    background-color: white;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem; 
    animation: Glowing 2.5s linear 0.75s infinite alternate;
    display: none;
}

.modal.openedModal {
    display: flex;
}

@keyframes Glowing {
    0% {
        box-shadow: 0px 0px 0px 0px blue;
    }

    80% {
        box-shadow: 0px 0.5rem 2rem 0.5rem white;
    }

    100% {
        box-shadow: 0px 0.5rem 2rem 0.5rem white;
    }
}

.modal-header {
    margin: 1rem 1rem 0;
    border-bottom: 1px solid #777777;
    display: flex;
    justify-content: space-between;
}

.modal-header h2 {
    font-size: 1.7rem;
}

.modal-header .close-btn {
    background: none;
    font-size: 2rem;
    font-weight: bold;
    align-self: flex-start;
    cursor: pointer;
}

.modal-body {
    flex-grow: 1;
    margin: 1rem; 
    padding-bottom: 3rem; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    font-size: 1.5rem; 
}

.modal-body .modal-fields {
    width: 100%; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 1rem 0;
}

.modal-body .modal-fields label {
    padding-bottom: 0.5rem;
}

.modal-body .modal-fields input {
    width: 100%; 
    border: 0.3rem solid black; 
    border-radius: 0.5rem;
    padding: 0.25rem 0.5rem;
    font-size: 1.5rem;
    transition: all 0.3s ease; 
}

.modal-body .modal-fields input:focus {
    border: 0.3rem solid var(--login-blue);  
}

.modal-footer {
    display: flex;
    justify-content: flex-end;
    padding: 0 1rem 1rem; 
    border-top: 1px solid #777777;
}

.modal-footer .btn {
    margin: 1rem 0.5rem 0; 
}

.modal-footer .btn:last-child {
    margin-right: initial;
}

.modal-footer .modal-btn-primary {
    background-color: #1890ff;
    color: white;
}

.modal-footer .modal-btn-primary:hover {
    background: blue; 
    color: var(--text-color); 
}

.modal-footer .modal-btn-danger {
    background-color: #E2E2E2; 
    color: black;
}

.modal-footer .modal-btn-danger:hover {
    background: red; 
    color: var(--text-color); 
}

.modal-error-message {
    width: 40rem; 
    max-width: 50%;
    margin: 1rem; 
    padding: 0.25rem 1rem; 
    font-size: 1.3rem; 
    background-color: red;
    color: yellow; 
    text-shadow: 0 0 0.75rem white;  
    position: absolute;
    top: 2.5%; 
    border-radius: 5px; 
    display: none;
}

.modal-error-message.openedModal {
    display: block;
}





/* ------------------------------------------------------------------------------------------------- */

/* Login Header Section  */
.login-header {
    width: 100vw; 
    height: 100px; 
    padding: 5px var(--side-padding); 
    font-size: 2rem;
    font-weight: 500;
    color: var(--text-color); 
    background: radial-gradient(circle, var(--login-blue), var(--login-purple));
    border-bottom: 2px solid var(--login-blue); 
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0; 
    z-index: 99;
    font-family: "Ubuntu", sans-serif;
}

.login-header .navbar-menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-header .navbar-menu .navbar-item {
    margin-left: 3rem; 
    color: var(--text-color); 
}

.login-header .navbar-menu .navbar-item:hover {
    text-shadow: 0 0 3.5rem white, 0 0 3rem yellow, 0 0 3.5rem white; 
}

.login-header .login-error {
    position: absolute; 
    width: 100vw; 
    left: 50%;    
    transform: translate(-50%);
    bottom: -3.5rem; 
    font-size: 1.75rem; 
    color: var(--text-color); 
    text-align: center;
    background: linear-gradient(black, var(--login-purple));
    padding: 0.5rem; 
}

.login-header .error-help {
    color: yellow; 
    text-shadow: 0 0 1rem white;  
    text-decoration: underline;
}



/* Login Section */
.login-body {
    min-height: calc(100vh - var(--navbar-height) - var(--footer-height)); 
    display: flex;
    justify-content: center; 
    align-items: center;
    background-image: url("UNO_Background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 15%;
    background-position-y: center;
}

.login-body .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 30vw; 
    height: 50vh; 
    padding: 3rem; 
    margin: 5rem; 
    border: 3px solid var(--login-purple);
    color: black; 
    font-size: 1.5rem; 
    position: relative; 
    z-index: 99;
    overflow: hidden;
}

.login-body .login-form::before {
    content: "";
    width: 250%;
    height: 250%;
    background-color: white; 
    position: absolute;
    top: -75%; 
    left: -75%;
    z-index: -5; 
    background-image: conic-gradient(transparent, var(--login-blue), transparent 50%);
    animation: Rotate 3s linear infinite; 
}

@keyframes Rotate {
    to {
        transform: rotate(360deg);
    }
}

.login-body .login-form::after {
    content: "";
    position: absolute;
    inset: 0.7rem; 
    background-color: white;
    border-radius: 0.3rem;
    z-index: -1;
}

.login-body .login-form .login-form-header {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 5rem;
}

.login-body .login-form .login-form-body .submit-btn {
    display: flex;
    align-items: center;
    justify-content: center;

}

.login-body .login-form .login-fields { 
    width: 20vw; 
    margin-bottom: 3rem; 
}

.login-body .login-form .login-fields input {
    height: 100%;
    width: 100%;
    border: 0.3rem solid black;
    border-radius: 0.5rem;
    padding: 0.25rem 0.5rem;
    font-size: 1.5rem;
    transition: all 0.3s ease; 
}

.login-body .login-form .login-fields input:focus {
    border: 0.3rem solid var(--login-blue);  
}

.login-footer {
    padding: 7px 20px;
    border-top: 3px solid var(--login-blue); 
}



/* Footer Section */
footer{
    background: white;
    padding: 8.5px 20px;
    color: black;
    text-align: center;
    font-size: 1.5rem;
    font-family: "Ubuntu", sans-serif;
}

footer #laptop span {
    color: var(--link-purple); 
}

footer #laptop span:hover {
    text-decoration: underline;
    cursor: pointer;
}

footer #phone {
    display: none;
}
